<h1>{{title}}</h1>
<p>How did information go from a textarea in hero-detail to the mock-heroes?</p>
<ul>
    <li>in mock-heroes.ts, list out the mock heros object</li>
    <li>in heroes.html, use ngFor to list out all the heros</li>
    <li>in heroes.html, add (click) listener to see which hero is clicked</li>
    <li>in heroes.ts, write function to set the clicked hero to be the selected hero</li>
    <li>in heroes.html, render hero-details, and pass in selected hero as an [input]</li>
    <li>in hero-detail.ts, receive @Input from heroes.html </li>
    <li>in hero-detail.html, use ngModel 2 way binding to set the @Input property</li>
</ul>
----------and go all the way back up----------
<p>HTML from TS file: {{body}}</p>
<app-heroes></app-heroes>